{% extends "main/base.html" %}
{% block styles %}
<link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="curr-month-schedule">   <!-- Schedule -->
    <form method="post" action="/schedule-to-db/send_v_0" novalidate>
        <div class="menu">
            <div class="btn-group" role="group">
                <button id="submit-guidelines-btn" type="submit" class="btn btn-primary btn-sm">Zatwierdź wytyczne</button>
            </div>
        </div>
        <table class="new-schedule-table table-bordered">
            <caption class="caption">
                Tworzenie wytycznych dla <b><span id="workplace">{{ workplace }}</span></b> na rok <b><span id="cur-year">{{ year }}</span></b>, miesiąc <b><span id="cur-month">{{ month }}</span>{{ mn[month-1] }}</b>.<br>
                <b>ZATWIERDZENIE WYWALI BŁĄD, FUNKCJA JESZCZE NIENAPISANA</b>
            </caption>
    <!-- headers with shop, month, workers -->
            <tr>
                <th colspan="2">Dzień</th>
                <th>Wytyczne</th>
            </tr>
            {% for day in cal.itermonthdays2(year, month) %}
                {% if day[0] > 0 %}
                    <tr class="main-tr">
                        <th class="dayname-th">{{ wdn[day[1]] }}</th>  <!-- day of the week (name) -->
                        <th class="daynumber-th">{{ day[0] }}</th>  <!-- day of the week (number) -->
                        <td>
                            <input type="number" name="guideline" value="" placeholder="0" min="0" class="hoursInput">
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}