{% extends "main/base.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/empty_schedule.js') }}"></script>
<style>
</style>
{% endblock %}

{% block content %}
<div id="schedule">
    {% if sched_dict != None %}
        <table class="prev-schedule-table table-bordered">
            <caption class="caption">Grafik dla <b>{{ schd_dict["workplace"] }}</b> na rok <b>{{ schd_dict["year"] }}</b>, miesiąc <b>{{ mn[schd_dict["month"]-1] }}</b></caption>
            <thead>
            <tr>
                <th>{{ schd_dict["workplace"] }}</th>
                <th rowspan="3">D</th>
                {% for worker in schd_dict["workers"] %}
                    <th rowspan="2" colspan="4">{{ worker | replace("_", " ") }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th>{{ mn[schd_dict["month"]-1] }}</th>
            </tr>
            <tr>
                <th>{{ schd_dict["year"] }}</th>
                    {% for worker in schd_dict["workers"] %}
                        <td>Od</td>
                        <td>Do</td>
                        <td>H:</td>
                        <td>Podpis</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for day in cal.itermonthdays2(schd_dict["year"], schd_dict["month"]) %}
                {% if day[0] > 0 %}
                    <tr>
                        <th class="prev-dayname-th">{{ wdn[day[1]] }}</th>  <!-- day of the week (name) -->
                        <th class="prev-daynumber-th">{{ day[0] }}</th>  <!-- day of the week (number) -->
                        {%- for worker in schd_dict["workers"] -%}
                            <td id="prev-begin-{{ worker }}-{{ prev_year }}-{{ prev_month }}-{{ day[0] }}">
                                {{ schd_dict["begin-%s-%d-%02d-%02d" % (worker, schd_dict["year"], schd_dict["month"], day[0])] }}
                            </td>
                            <td id="prev-end-{{ worker }}-{{ prev_year }}-{{ prev_month }}-{{ day[0] }}">
                                {{ schd_dict["end-%s-%d-%02d-%02d" % (worker, schd_dict["year"], schd_dict["month"], day[0])] }}
                            </td>
                            <td id="prev-counted-{{ worker }}-{{ prev_year }}-{{ prev_month }}-{{ day[0] }}">
                                {{ schd_dict["sum-%s-%d-%02d-%02d" % (worker, schd_dict["year"], schd_dict["month"], day[0])] }}
                            </td>
                            <td id="prev-event-{{ worker }}-{{ prev_year }}-{{ prev_month }}-{{ day[0] }}">
                                {%- if schd_dict["event-%s-%d-%02d-%02d" % (worker, schd_dict["year"], schd_dict["month"], day[0])] == "off" -%}
                                    X
                                {%- elif schd_dict["event-%s-%d-%02d-%02d" % (worker, schd_dict["year"], schd_dict["month"], day[0])] == "in_work" -%}
                                    ........
                                {%- else -%}
                                    {{ schd_dict["event-%s-%d-%02d-%02d" % (worker, schd_dict["year"], schd_dict["month"], day[0])] }}
                                {%- endif -%}
                            </td>
                            <td id="prev-to-json-{{ worker }}-{{ schd_dict['year'] }}-{{ schd_dict['month'] }}-{{ day[0] }}">
                                <input name="year" value="{{ schd_dict['year'] }}">
                                <input name="month" value="{{ schd_dict['month'] }}">
                                <input name="day" value="{{ day[0] }}">
                                <input name="worker" value="{{ worker }}">
                                <input name="b-hour" value="{{ schd_dict['begin-%s-%d-%02d-%02d' % (worker, schd_dict['year'], schd_dict['month'], day[0])] }}">
                                <input name="e-hour" value="{{ schd_dict['end-%s-%d-%02d-%02d' % (worker, schd_dict['year'], schd_dict['month'], day[0])] }}">
                                <input name="counted" value="{{ schd_dict['sum-%s-%d-%02d-%02d' % (worker, schd_dict['year'], schd_dict['month'], day[0])] }}">
                                <input name="event" value="{{ schd_dict['event-%s-%d-%02d-%02d' % (worker, schd_dict['year'], schd_dict['month'], day[0])] }}">
                                <input name="shop" value="{{ schd_dict['workplace'] }}">
                                <input name="billing-period-week" value="{{ schd_dict['billing-week-%s-%d-%02d-%02d' % (worker, schd_dict['year'], schd_dict['month'], day[0])] }}">
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="2">H/mc:</th>
                {% for worker in schd_dict["workers"] %}
                    <td colspan="4">Suma H:</td>
                {% endfor %}
            </tr>
            <tr>
                <th colspan="2"><output id="prev-working-hours">{{ schd_dict["hours"] }}</output></th> <!-- amount of hours to work in prev month -->
                {% for worker in schd_dict["workers"] %}
                    <td colspan="4" class="prev-sum-of-worker-hours">
                        {{ schd_dict["workers_hours"][worker] }} <!-- sum of hours worked by iterated worker i prev month -->
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th colspan="2">Pozostało H:</th>
                {% for worker in schd_dict["workers"] %}
                <td colspan="4" id="prev-left-hours-{{ worker }}"> <!-- hours left to assign or overtime -->
                    {{ schd_dict["hours"] - schd_dict["workers_hours"][worker] }}
                </td>
                {% endfor %}
            </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Grafik nie istnieje</p>
    {% endif %}
</div>
{% endblock %}