<!DOCTYPE html>
<html lang="pl-PL">

	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% block styles %}{% endblock %}
	</head>

    <body>
    <!-- TOP MENU -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item active">
                        <a href="{{ url_for('main.index') }}" class="nav-link m-2 menu-item nav-active">Główna</a>
                    </li>
                    <li class="nav-item">
                        {% if current_user.is_anonymous %}
                        <a href="{{ url_for('auth.login') }}" class="nav-link m-2 menu-item">Zaloguj</a>
                        {% else %}
                        <a href="{{ url_for('auth.logout') }}" class="nav-link m-2 menu-item">Wyloguj {{ current_user.username }}</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>

    <!-- flash message -->
        <div style="text-align: center">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <hr>
                    {{ message }}
                    <hr>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <br>
        </div>

    <!-- MAIN CONTENT -->
        {% block content %}{% endblock %}

    <!-- FOOT -->
        <br><br>
        <footer class="footer">
            <div class="container">
                <span class="text-muted">2019 by Piotr Kozieł. All rights reserved. <a href="mailto:koziel.piotr1988@gmail.com">Contact</a></span>
            </div>
        </footer>
    </body>
</html>