{% extends "main/base.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div style="text-align: center">
    <h1>Grafiki on-line</h1>
</div>
    <div class="card-group">
    {% if current_user.access_level=="0"%}
        <div class="card option-card">
            <div class="card-body">
                <h5 class="card-title">Administrator</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{{ url_for('b_per.billing_period') }}" class="btn btn-primary btn-lg btn-block">Określenie okresu rozliczeniowego</a></li>
                <li class="list-group-item"><a href="{{ url_for('acc.new_user') }}" class="btn btn-primary btn-lg btn-block">Nowy użytkownik</a></li>
                <li class="list-group-item"><a href="{{ url_for('auth.admin_password_change') }}" class="btn btn-primary btn-lg btn-block">Zmiana hasła użytkownika</a></li>
                <li class="list-group-item"><a href="{{ url_for('acc.new_workplace') }}" class="btn btn-primary btn-lg btn-block">Nowy sklep</a></li>
                <li class="list-group-item"><a href="{{ url_for('acc.worker_to_workplace') }}" class="btn btn-primary btn-lg btn-block">Powiązania użytkownik - sklep</a></li>
            </ul>
            </div>
        </div>
    {% endif %}
        {% if current_user.access_level=="0" or current_user.access_level=="1" %}
        <div class="card option-card">
            <div class="card-body">
                <h5 class="card-title">Kierownik działu</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{{ url_for('schedules.unaccepted_schedules') }}" class="btn btn-primary btn-lg btn-block">Akceptowanie grafików</a></li>
            </ul>
            </div>
        </div>
    {% endif %}
    {% if current_user.access_level=="0" or current_user.access_level=="1" or current_user.access_level=="2" %}
        <div class="card option-card">
            <div class="card-body">
                <h5 class="card-title ">Kierownik</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{{ url_for('schedules.new_schedule') }}" class="btn btn-primary btn-lg btn-block">Nowy grafik</a></li>
                <li class="list-group-item"><a href="{{ url_for('schedules.modifiable_schedules') }}" class="btn btn-primary btn-lg btn-block">Modyfikuj grafik</a></li>
            </ul>
            </div>
        </div>
    {% endif %}
        <div class="card option-card">
            <div class="card-body">
                <h5 class="card-title ">Użytkownik</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{{ url_for('schedules.choose_show_schedule', action = 'show') }}" class="btn btn-primary btn-lg btn-block">Wyświetl grafik</a></li>
                <li class="list-group-item"><a href="{{ url_for('schedules.choose_show_schedule', action = 'xlsx') }}" class="btn btn-primary btn-lg btn-block">Eksportuj grafik do arkusza</a></li>
                <li class="list-group-item"><a href="{{ url_for('auth.password_change', user=current_user) }}" class="btn btn-primary btn-lg btn-block">Zmiana hasła</a></li>
            </ul>
            </div>
        </div>
    </div>
{% endblock %}