ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 5;
	margin-right: 30px;
}

ul li {
	display: inline;
	white-space: nowrap;
}

body {
  background: #EEE;
  margin: 0;
  padding: 0;
}

.table {
    text-align: center;
    width: 99%;
    border-spacing: 1px;
    font-size: 12px;
    }

tr {
    background: #f4f7f8;
    }

td,
 th{
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 0px;
    }

.headers {
    background: #A0A0A0;
    }

td:hover {background-color: #99CCFF;}

#od {
    width: 15px;
    font-size: 12px;
    padding: 0px;
    }

#do {
    width: 15px;
    font-size: 12px;
    padding: 0px;
    }

#h {
    width: 15px;
    font-size: 12px;
    padding: 0px;
    }
