.caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #000000;
    text-align: left;
    caption-side: top;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.card, .btn, .form-control {
    border-radius: 0;
}

td[id*="to-json"] {
    display: none;
}

td[id*="counted"] {
    width: 4ex;
}

.table-bordered {
  border: 1px solid #000000 !important;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #000000 !important;
}