.caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #000000;
    text-align: left;
    caption-side: top;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

td[id*="to-json"], #hidden-data, #cur-month {
    display: none;
}

td[id*="counted"] {
    width: 4ex;
}

.table-bordered {
    border: 1px solid #000000 !important;
    background: white;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #000000 !important;
    text-align: center !important;
    vertical-align: middle !important;
}

.prev-schedule-table, .new-schedule-table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.table-bordered td {
    font-weight: 550;
}

.new-schedule-table {
    background: white;
}

table th{
    background: #1111112b;
    padding-right: 1ex;
    padding-left: 1ex;
}

input {
    text-align: center;
    vertical-align: middle;
}