{% extends "base.html" %}

{% block content %}
    <div style="text-align: center">
        <p>
            Obecne ustawienia okresu rozliczeniowego:<br>
            Początek: {{ cur_begin }}<br>
            Długość: {{ cur_duration }}
            <hr>
        </p>
        <form action="" method="post">
        {{ form.hidden_tag() }}
            <p>
                {{ form.begin_month.label }} {{ form.begin_month }} {{ form.begin_year.label }} {{ form.begin_year }}
            </p>
            <p>
                {{ form.length_of_billing_period.label }} {{form.length_of_billing_period }}
                {{ errors }}
            </p>
            <p>
                {{ form.submit }}
            </p>
        </form>
    </div>
{% endblock %}