{% extends "base_schedule.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<style>
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

[name|=godziny],
[name|=godziny2] {
width: 4ex;
}

:[name|=counted]{
width: 4ex;
}

.from-to-header {
width: 4.5ex;
}

counted-header {
width: 4ex;
}

</style>
{% endblock %}


{% block content %}

<div>
    <!-- Legend of events -->
    <table class="table-bordered from-to">
        <caption>Legenda zdarzeń:</caption>
        <tr>
            <th>
                <ul>
                    <li>UW - urlop wypoczynkowy</li><br>
                    <li>UNŻ - urlop na żądanie</li>
                </ul>
            </th>
            <th>
                <ul>
                    <li>L4 - zwolnienie L4</li><br>
                    <li>UO - urlop okolicznościowy</li>
                </ul>
            </th>
            <th>
                <ul>
                    <li>UOJ - urlop ojcowski</li><br>
                    <li>UR - urlop rodzicielski</li>
                </ul>
            </th>
        </tr>
    </table>
    <br><br>

    <!-- Schedule -->
    <form action="" method="post">
        <table class="table-bordered">
            <caption>Tworzenie grafiku dla sklepu {{ shop }} na rok {{ year }}, miesiąc {{ mn }}</caption>
    <!-- headers with shop, month, workers -->
            <thead>
            <tr>
                <th>{{ shop }}</th>
                <th rowspan="3">D</th>
                {% for i in sw %}
                    <th class="name-header" rowspan="2" colspan="4">{{ i }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th>{{ mn }}</th>
            </tr>
            <tr>
                <th>{{ year }}</th>
                <th class="from-to-header">Od</th>
                <th class="from-to-header">Do</th>
                <th class="ccounted-header">H</th>
                <th>Podpis</th>
            </tr>
            </thead>
    <!-- body with days and according data -->
            <tbody>
            {% for i in cal.itermonthdays2(yearn, monthn) %}
                {% if i[0] > 0 %}
                    <tr>
                        <td>{{ wdn[i[1]] }}</td>  <!-- day of the week (name) -->
                        <td>{{ i[0] }}</td>  <!-- day of the week (number) -->
                        {% for j in sw %}
                            <td class="mytd" colspan="4">
                                <table class="inner table-bordered">
                                    <tr>
                                        <td>
                                            <input name="dzien" type="hidden" value="{{ dzien }}">
                                        </td>
                                        <td>
                                            <input name="czlowiek" type="hidden" value="{{ czlowiek }}">
                                        </td>
                                        <td class="from-to-header">
                                            <input type="number" name="godziny" value="">
                                        </td>
                                        <td class="from-to-header">
                                            <input type="number" name="godziny2" value="">
                                        </td>
                                        <td class="counted">
                                            <output name="counted">0</output>
                                        </td>
                                        <td>
                                            <select>
                                                <option value=""></option>
                                                <option value="UW">UW</option>
                                                <option value="UNŻ">UNŻ</option>
                                                <option value="L4">L4</option>
                                                <option value="UO">UO</option>
                                                <option value="UOJ">UOJ</option>
                                                <option value="UR">UR</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
    <!-- footer with amount of hours to work and hours worked by each of workers -->
            <tfoot>
            <tr>
                <td colspan="2">H/mc</td>
                {% for i in sw %}
                    <td colspan="4">Suma H:</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="2">'godz/mc'</td>  <!-- amount of hours to work in exact month -->
                {% for i in sw %}
                    <td colspan="4">'suma przepracowanych godzin'</td> <!-- sum of hours worked by iterated worker -->
                {% endfor %}
            </tr>
            <tr>
                <td colspan="2">Pozostało H:</td>
                {% for i in sw %}
                    <td colspan="4">'nadgodziny lub niedogodziny'</td> <!-- hours left to assign or overtime -->
                {% endfor %}
            </tr>
            </tfoot>
        </table>
        {{ form.OK }}
    </form>
</div>
{% endblock %}