{% extends "base_schedule.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<style>
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table.table-bordered {
    border: 1px solid black;
}

table.table-bordered > thead > tr > th {
    border: 1px solid black;
}

table.table-bordered > tbody > tr > td {
    border: 1px solid black;
    white-space: nowrap;
}

#counted {
    white-space: nowrap;
}
</style>
{% endblock %}


{% block content %}

<div>
    <!-- Legend of events -->
    <table class="table-bordered from-to">
        <caption>Legenda zdarzeń:</caption>
        <tr>
            <th>
                <ul>
                    <li>UW - urlop wypoczynkowy</li>
                    <li>UNŻ - urlop na żądanie</li>
                </ul>
            </th>
            <th>
                <ul>
                    <li>L4 - zwolnienie L4</li>
                    <li>UO - urlop okolicznościowy</li>
                </ul>
            </th>
            <th>
                <ul>
                    <li>UOJ - urlop ojcowski</li>
                    <li>UR - urlop rodzicielski</li>
                </ul>
            </th>
        </tr>
    </table>
    <br><br>

    <!-- Schedule -->
    <form method="post" action="/schedule">
        <button type="submit">Submit</button>
        <table class="table-bordered">
            <caption>Tworzenie grafiku dla sklepu {{ shop }} na rok {{ year }}, miesiąc {{ mn }}</caption>
    <!-- headers with shop, month, workers -->
            <thead>
            <tr>
                <th>{{ shop }}</th>
                <th rowspan="2">D</th>
                {% for worker in workers %}
                    <th class="name-header" rowspan="2" colspan="4">{{ worker }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th>{{ mn }}<br>{{ year }}</th>
            </tr>
            </thead>
    <!-- body with days and according data -->
            <tbody>
            {% for day in cal.itermonthdays2(yearn, monthn) %}
                {% if day[0] > 0 %}
                    <tr>
                        <td>{{ wdn[day[1]] }}</td>  <!-- day of the week (name) -->
                        <td>{{ day[0] }}</td>  <!-- day of the week (number) -->
                        {% for worker in workers %}
                            <td class="mytd" colspan="4">
                                <table class="inner table-bordered">
                                    <tr>
                                        <td style="display: none;">
                                            <input name="day" type="hidden" value="{{ day[0] }}">
                                        </td>
                                        <td style="display: none;">
                                            <input name="worker" type="hidden" value="{{ worker }}">
                                        </td>
                                        <td id="begin_hour_td">
                                            <input type="number" name="begin_hour" value="" placeholder="Od">
                                        </td>
                                        <td id="end_hour_td">
                                            <input type="number" name="end_hour" value="" placeholder="Do">
                                        </td>
                                        <td id="counted_td">
                                            <output name="counted">0</output>
                                        </td>
                                        <td  id="event_td">
                                            <select id="select" name="event">
                                                <option value="off">X</option>
                                                <option value="in_work">......</option>
                                                <option value="UW">UW</option>
                                                <option value="UNŻ">UNŻ</option>
                                                <option value="L4">L4</option>
                                                <option value="UO">UO</option>
                                                <option value="UOJ">UOJ</option>
                                                <option value="UR">UR</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
    <!-- footer with amount of hours to work and hours worked by each of workers -->
            <tfoot>
            <tr>
                <td colspan="2">H/mc</td>
                {% for worker in workers %}
                    <td colspan="4">Suma H:</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="2">'godz/mc'</td>  <!-- amount of hours to work in exact month -->
                {% for worker in workers %}
                    <td colspan="4">'suma przepracowanych godzin'</td> <!-- sum of hours worked by iterated worker -->
                {% endfor %}
            </tr>
            <tr>
                <td colspan="2">Pozostało H:</td>
                {% for worker in workers %}
                    <td colspan="4">'nadgodziny lub niedogodziny'</td> <!-- hours left to assign or overtime -->
                {% endfor %}
            </tr>
            </tfoot>
        </table>
    </form>
</div>
{% endblock %}