{% extends "base_schedule.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>

{% endblock %}


{% block content %}

<div>
    <!-- Legend of events -->
    <table>
        <caption id="caption">Legenda zdarzeń:</caption>
        <tr>
            <th>
                <ul>
                    <li>UW - urlop wypoczynkowy</li>
                    <li>UNŻ - urlop na żądanie</li>
                </ul>
            </th>
            <th>
                <ul>
                    <li>L4 - zwolnienie L4</li>
                    <li>UO - urlop okolicznościowy</li>
                </ul>
            </th>
            <th>
                <ul>
                    <li>UOJ - urlop ojcowski</li>
                    <li>UR - urlop rodzicielski</li>
                </ul>
            </th>
        </tr>
    </table>
    <br><br>

    <!-- Schedule -->
    <form method="post" action="/schedule">
        <button type="submit">Submit</button>
        <table class="new-schedule-table">
            <caption id="caption">Tworzenie grafiku dla <b>{{ shop }}</b> na rok <b>{{ year }}</b>, miesiąc <b>{{ mn }}</b></caption>
    <!-- headers with shop, month, workers -->
            <thead>
            <tr>
                <th>{{ shop }}</th>
                <th rowspan="2">D</th>
                {% for worker in workers %}
                    <th rowspan="2" colspan="4">{{ worker }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th>{{ mn }}<br>{{ year }}</th>
            </tr>
            </thead>
    <!-- body with days and according data -->
            <tbody>
            {% for day in cal.itermonthdays2(yearn, monthn) %}
                {% if day[0] > 0 %}
                    <tr>
                        <th id="dayname-th">{{ wdn[day[1]] }}</th>  <!-- day of the week (name) -->
                        <th id="daynumber-th">{{ day[0] }}</th>  <!-- day of the week (number) -->
                        {% for worker in workers %}
                            <td class="mytd" colspan="4">
                                <table class="inner">
                                    <tr>
                                        <td style="display: none;">
                                            <input name="day" type="hidden" value="{{ day[0] }}">
                                        </td>
                                        <td style="display: none;">
                                            <input name="month" type="hidden" value="{{ monthn }}">
                                        </td>
                                        <td style="display: none;">
                                            <input name="year" type="hidden" value="{{ yearn }}">
                                        </td>
                                        <td style="display: none;">
                                            <input name="worker" type="hidden" value="{{ worker }}">
                                        </td>
                                        <td id="begin-hour-td">
                                            <input id="begin-hour-fld" type="number" name="begin_hour" value="" placeholder="Od">
                                        </td>
                                        <td id="end-hour-td">
                                            <input id="end-hour-fld" type="number" name="end_hour" value="" placeholder="Do">
                                        </td>
                                        <td id="counted-header-td">
                                            H:
                                        </td>
                                        <td id="counted-td">
                                            <output id="counted-fld" name="counted">0</output>
                                        </td>
                                        <td  id="event-td">
                                            <select id="select" name="event">
                                                <option value="off">X</option>
                                                <option value="in_work">......</option>
                                                <option value="UW">UW</option>
                                                <option value="UNŻ">UNŻ</option>
                                                <option value="L4">L4</option>
                                                <option value="UO">UO</option>
                                                <option value="UOJ">UOJ</option>
                                                <option value="UR">UR</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
    <!-- footer with amount of hours to work and hours worked by each of workers -->
            <tfoot>
            <tr>
                <th colspan="2">H/mc:</th>
                {% for worker in workers %}
                    <td colspan="4">Suma H:</td>
                {% endfor %}
            </tr>
            <tr>
                <th colspan="2">{{ hours }}</th>  <!-- amount of hours to work in exact month -->
                {% for worker in workers %}
                    <td colspan="4">'suma przepracowanych godzin'</td> <!-- sum of hours worked by iterated worker -->
                {% endfor %}
            </tr>
            <tr>
                <th colspan="2">Pozostało H:</th>
                {% for worker in workers %}
                    <td colspan="4">'nadgodziny lub niedogodziny'</td> <!-- hours left to assign or overtime -->
                {% endfor %}
            </tr>
            </tfoot>
        </table>
    </form>
</div>
{% endblock %}