{% extends "base.html" %}

{% block styles %}
<link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet">
<style>
#option-card {
    width: 33%;
    text-align: center;
    vertical-align: middle;
}

.card {display:inline-block;}
</style>
{% endblock %}

{% block content %}
<div style="text-align: center">
    <h1>Grafiki on-line</h1>
</div>
    <div class="card-group">
    {% if current_user.access_level=="0" or current_user.access_level=="1" %}
        <div id="option-card" class="card">
            <div class="card-body">
                <h5 class="card-title">Administrator</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{{ url_for('billing_period') }}" class="btn btn-primary">Określenie okresu rozliczeniowego</a></li>
                <li class="list-group-item"><a href="{{ url_for('new_user') }}" class="btn btn-primary">Nowy użytkownik</a></li>
                <li class="list-group-item"><a href="{{ url_for('new_shop') }}" class="btn btn-primary">Nowy sklep</a></li>
                <li class="list-group-item"><a href="{{ url_for('user_to_shop') }}" class="btn btn-primary">Powiązania użytkownik - sklep</a></li>
            </ul>
            </div>
        </div>
    {% endif %}
    {% if current_user.access_level=="0" or current_user.access_level=="1" or current_user.access_level=="2" %}
        <div id="option-card" class="card">
            <div class="card-body">
                <h5 class="card-title ">Kierownik</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{{ url_for('new_schedule') }}" class="btn btn-primary">Nowy grafik</a></li>
            </ul>
            </div>
        </div>
    {% endif %}
        <div id="option-card" class="card">
            <div class="card-body">
                <h5 class="card-title ">Użytkownik</h5>
            <ul class="list-group list-group-flush">

            </ul>
            </div>
        </div>
    </div>
{% endblock %}