{% extends "base.html" %}

{% block content %}
    <div>
        <h1>POWITALNA</h1>
    </div>

    <table class="options_table">
        <thead>
            <tr>
                {% if current_user.access_level=="a" %}
                    <th>
                        Administrator<br>
                        <div>
                            <a href="{{ url_for('new_user') }}">Nowy użytkownik</a><br>
                            <a href="{{ url_for('new_shop') }}">Nowy sklep</a><br>
                            <a href="{{ url_for('user_to_shop') }}">Powiązania użytkownik - sklep</a><br>
                        </div>
                    </th>
                {% endif %}
                <th>Kierownik:</th>
                <th>Użytkownik:</th>
            </tr>
        </thead>
    </table>
{% endblock %}