{% extends "base.html" %}

{% block content %}
<div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.shop.label }} {{ form.shop }}
            {{ form.year.label }} {{ form.year }}
            {{ form.month.label }} {{ form.month }}<br><br>
            {{ form.submit }}
        </form>
    <p>
        <a href="{{ url_for('create_schedule') }}">CCC</a>
        {% if error!= Null %}
        {{ error }}
        {% endif %}
    </p>
</div>
{% endblock %}