{% extends "base.html" %}

{% block content %}
<div style="text-align: center">
    <h1>Zarejestruj nowego użytkownika</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.access_level.label }}<br>
            {{ form.access_level }}<br>
            {% for error in form.access_level.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>Użytkownik z poziomem uprawnień "admin" lub "kierownik działu" nie będzie uwzględniany w grafikach</p>

        <p>
            <br>{{ form.submit() }}
        </p>
    </form>
</div>
{% endblock %}