{% extends "base.html" %}

{% block styles %}
<style>
#new-schedule-card {
    width: 33%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
</style>
<script src="{{ url_for('static', filename='js/new_schedule.js') }}"></script>
{% endblock %}

{% block content %}
<form action="" method="post">
    <div>
        <div id="new-schedule-card" class="card">
            <div class="card-body">
                <h5 class="card-title">Nowy grafik</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ form.hidden_tag() }}
                    {{ form.workplace.label }} {{ form.workplace }}
                    {% for error in form.workplace.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </li>
                <li class="list-group-item">
                    {{ form.year.label }} {{ form.year }}
                    {% for error in form.year.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </li>
                <li class="list-group-item">
                    {{ form.month.label }} {{ form.month }}
                    {% for error in form.month.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </li>
                <li class="list-group-item">
                    <label for="workers">Pracownicy:</label>
                    {{ form.workerslabel }} {{form.workers }}
                    {% for error in form.workers.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </li>
                <li class="list-group-item">
                    {{ form.hours.label }} {{ form.hours }}
                    {% for error in form.hours.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </li>
            </ul>
            <div class="card-body">
                {{ form.submit }}
                {% for error in form.submit.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
{% endblock %}