{% extends "base.html" %}

{% block content %}
<div style="text-align: center">
    <h1>Przypisz użytkownika do sklepu</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <br>
        <p>
            {{ form.shop.label }} {{ form.shop }}<br>
        </p>
        <p>
            {{ form.user.label }} {{ form.user }}<br>
        </p>
        <p>
            <br>{{ form.submit }}
        </p>
        <!-- List of shops with assigned users -->
            <table class="table_shop_to_users">
                <caption>Kliknij użytkownika, aby usunąć go ze sklepu</caption>
                <thead>
                <th style="border: 1px solid #000000;">
                    Salon
                </th>
                <th colspan="{{ users_number }}" style="border: 1px solid #000000;">
                    użytkownicy
                </th>
                </thead>
                <tbody>
                {% for workplace in workplaces  %}
                <tr>
                    <td style="border: 3px solid #000000;">
                        <!-- List of shops -->
                        {{ workplace }}:
                    </td>
                    {% for worker in workplace.works %}
                    <td style="border: 1px solid #000000; padding: 3px;">
                        <!-- List of users assigned to the shop -->
                        <a href="{{ url_for('remove_from_shop', user=worker, shop=workplace) }}">{{ worker }}</a>
                    </td>
                    {% endfor %}<br>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </form>
</div>
{% endblock %}