{% extends "base.html" %}

{% block styles %}
<style>
caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #000000;
    text-align: left;
    caption-side: top;
}
</style>
<script src="{{ url_for('static', filename='js/worker_to_workplace.js') }}"></script>
{% endblock %}

{% block content %}
<div style="text-align: center">
    <h1>Przypisz użytkownika do sklepu</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <br>
        <p>
            {{ form.workplace.label }} {{ form.workplace }}<br>
            {% for error in form.workplace.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.worker.label }} {{ form.worker }}<br>
            {% for error in form.worker.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <br>{{ form.submit }}
        </p>
        <!-- List of shops with assigned users -->
            <table class="table_shop_to_users">
                <caption>Kliknij użytkownika, aby usunąć go ze sklepu</caption>
                <thead>
                <th style="border: 3px solid #000000;">
                    Salon
                </th>
                <th colspan="{{ users_number }}" style="border: 3px solid #000000;">
                    użytkownicy
                </th>
                </thead>
                <tbody>
                {% for workplace in workplaces  %}
                <tr>
                    <td style="border: 3px solid #000000;">
                        <!-- List of shops -->
                        {{ workplace }}:
                    </td>
                    {% for worker in workplace.works %}
                    <td style="border: 1px solid #000000; padding: 3px;">
                        <!-- List of users assigned to the shop -->
                        <a href="{{ url_for('remove_from_shop', user=worker, shop=workplace) }}">{{ worker }}</a>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </form>
</div>
{% endblock %}