{% extends "base.html" %}

{% block styles %}
<style>
caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #000000;
    text-align: left;
    caption-side: top;
}
</style>
<script src="{{ url_for('static', filename='js/worker_to_workplace.js') }}"></script>
{% endblock %}

{% block content %}
<div style="text-align: center">
    <h1>Przypisz użytkownika do sklepu</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <br>
        <p>
            {{ form.workplace.label }} {{ form.workplace }}<br>
            {% for error in form.workplace.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.worker.label }} {{ form.worker }}<br>
            {% for error in form.worker.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <br>{{ form.submit }}
        </p>
    </form>
    <br><br>
    <!-- List of shops with assigned users -->
    <hr>
    <p> Wybierz pracownika, aby zlikwidować powiązanie:</p>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        {% for workplace in workplaces  %}
            <div class="btn-group" role="group">
                <button id="{{ workplace }}" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ workplace }}
                </button>
                <div class="dropdown-menu" aria-labelledby="{{ workplace }}">
                    {% for worker in workplace.works %}
                        <a href="{{ url_for('remove_from_shop', user=worker, shop=workplace) }}" class="btn btn-secondary btn-sm btn-block">{{ worker }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}


    </div>
</div>
{% endblock %}